.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  padding: 0;
}

.pagination a {
  padding: 10px;
  color: #34568B;
  font-size: 13px;
}

.pagination a:hover {
  color: #34568B;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link:hover {
  color: #34568B;
}

.pagination__link--active a {
  color: white;
  font-weight: 800;
}

.pagination__link--disabled a {
  color: lightgray;
}